.thanks-wrapper {
    height: 100vh;
    color: white;
}

.dark-mask {
    background-color:rgba(0, 0, 0, .5);
    height:100%;
    position:fixed;
    z-index: -1;
    width:100%;
    top:0;
    left:0;
}

#thanks__img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
}

.thanks-block-w {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.thanks-block {
    max-width: 800px;
}

.thanks-btn {
    background: linear-gradient(21deg, #0f8000, #bdba00);
    color: white;
    padding: 2rem 5rem;
    border-radius: 5rem;
    border: 1px solid black;
    cursor: pointer;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.thanks-btn:first-child {
    margin-right: 1rem;
}

.thanks-btn-block {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
}

.thanks__logo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
}

.thanks__h {
    text-align: center;
    font-size: 5.5rem;
    display: inline-block;
}

