.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
}

section.about-woodhouse {
    padding: 3rem;
    background: #F7F7F7;
    & .container {
        & .group {
            display: flex;
            justify-content: space-around;
            & .group-item {
                width: 40%;
                text-align: center;
                line-height: 1.7rem;
                & > div {
                    padding: 1rem;
                }
                & .group-item__image {
                    width: 15rem;
                    height: 11rem;
                    margin: 0 auto;
                }
                & .group-item__title {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }   
}