html {
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
}

@media screen and (max-width: 860px) { 
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 5px;
    }
    .thanks-btn {
        font-size: 2rem;
    }
    .thanks__logo {
        font-size: 1.8rem;
    }
    .thanks__h {
        font-size: 5.1rem;
    }
}

@media screen and (max-width: 330px) {
    html {
        font-size: 4px;
    }
}