.modal-zakaz {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.3s;
}

.modal-animation-in {
    animation-name: scalein;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.modal-animation-out {
    animation-name: scaleout;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.modal-dimas-animation-in {
    animation-name: transfromopacityinM;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.modal-dimas-animation-out  {
    animation-name: transfromopacityoutM;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes transfromopacityinM {
    from {
        opacity: 0;
        transform: translate(0, -300px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes transfromopacityoutM {
    from {
        opacity: 1;
        transform: translate(0, 0px);
    }
    to {
        opacity: 0;
        transform: translate(0, -300px);
    }
}

@keyframes opacityin {
    from {
        opacity: 0;
        // transform: translate(0, 100px);
    }
    to {
        opacity: 1;
        // transform: translate(0, 0);
    }
}

@keyframes opacityout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.modal-bg-animation-in {
    animation-name: opacityin;
    animation-duration: 0.3s;
}

.modal-bg-animation-out {
    animation-name: opacityout;
    animation-duration: 0.3s;
}

// @keyframes onlyopacity {

// }

@keyframes scalein {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleout {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.mzakaz__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
}

.mzakaz__buttons-block {
    font-size: 0.8rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.mzakaz__more-producs {
    display: flex;
    align-items: center;
}

.arrow-left {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}

.mzakaz__close {
    width: 2rem;
    height: 2rem;
    display: flex;
    img {
        width: inherit;
        height: inherit;
    }
}

.mzakaz__content {
    justify-content: center;
    display: flex;
    padding: 2rem;
    padding-top: calc(50vh - 20rem);
    padding-bottom: 0;
}

.mzakaz__product-img {
    width: 30rem;
    height: 30rem;
    margin-right: 1rem;
    img {
        object-fit: cover;
    }
}

.z-product__title {
    font-size: 2rem;
    font-weight: bold;
}

.mzakaz__product-descript {
    margin-left: 1rem;
}

.z-product__price {
    padding: 1.3rem 0;
    font-size: 1.3rem;
}

.z-product__add {
    width: 10rem;
    height: 3rem;
    border: 2px solid #126312;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #126312;
    transition-duration: .2s;
}

.z-product__add:hover {
    color: #126312;
    background-color: white;
}

.z-product__description {
    padding-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: lighter;
    width: 30rem;
}

.mzakaz__more-producs,
.z-product__add,
.mzakaz__product-img {
    cursor: pointer;
}

.z-product-desc__title,
.z-product-desc__description,
.z-product-desc__form,
.z-product-desc__additional {
    margin-bottom: 0.5rem;
}

.z-product-desc__additional {
    margin-top: 1.5rem;
}