section.about-project {
    display: flex;
    min-height: 690px;
    
}

.about-project__text {
    background: #FAF9F5;
    padding: 10rem 5rem;
    width: 50%;
    color: black;
}

.about-project__title {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 2rem 0;
}

.about-project__description {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
}

.about-project__image {
    width: 50%;
    img {
        object-fit: cover;
    }
}