.advokads {
    padding-top: 9.5rem;
}

.advokads_container {
    max-width: 1000px !important;
}

.advocads__title {
    color: #015909;
    font-size: 1.2rem;
    font-weight: bold;  
    text-align: center;
}

.advokads__elements {
    padding-top: 2rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.advokads__element {
    width: 25%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.advokads-elem__title {
    text-align: center;
    font-size: 1.2rem;
}

.advokads-elem__link {
    color: #015909;
    background-image: linear-gradient(#015909, #015909);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .3s;
}

.advokads-elem__logo {
    text-align: center;
    padding-top: 2rem;
    img {
        width: 13rem;
    }
}

.advokads-elem__images {
    height: 15rem;
    img {
        transition: all .2s ease-in;
    }
    position: relative;
}

.advokad-elem__image11 {
    transition: all 0.3s ease;
    margin: auto;
    padding-top: 1rem;
    position: relative;
    z-index: 10;
    width: 7rem;
    border-radius: 50%;
    img {
        width: inherit;
        border-radius: 10rem;
        border: 1px solid black;
    }
    img:hover {
        transform: scale(1.2);
    }
}

.advokad-elem__image21 {
    left: calc(50% - 3.15rem);
    top: 1rem;
    position: absolute;
    width: 6.3rem;
    height: 6.3rem;
    z-index: 1;
}

.advokad-elem__image22 {
    position: absolute;
    height: auto;
    left: calc(50% - 6rem);
    top: 6rem;
    border-radius: 2.2rem;
    width: 4rem;
    z-index: 2;
    border: 1px solid black;
}

.img-scale-effect:hover {
    transform: scale(1.5);
}

.advokad-elem__image31, .advokad-elem__image32 {
    position: absolute;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
}

.advokad-elem__image31 {
    top: 5rem;
    left: calc(50% - 6rem);
    z-index: 2;
    border: 1px solid black;
}

.advokad-elem__image32 {
    z-index: 1;
    top: 1.5rem;
    left: calc(50%);
}

.advokad-elem__image32:hover {
    transform: translate(2rem, 0) scale(1.5);
}

.advokad-elem__image41 {
    top: 3.5rem;
    left: calc(50% - 5.5rem);
    position: absolute;
    width: 6.3rem;
    height: auto;
    border-radius: 50%;
}

.advokad-elem__image42 {
    top: 7rem;
    left: calc(50% + 1rem);
    position: absolute;
    width: 6.3rem;
    height: auto;
    border-radius: 3rem;
}