.instagram-link__block {
    padding: 5rem 0;
    text-align: center;
}

.instagram-link__text {
    padding: 0 1.5rem;
    margin-top: 3.5rem;
    font-weight: 300;
    font-size: 2.2rem;
}

.instagram-link__text2 {
    font-weight: 300;
    font-size: 2.2rem;
}

.instagram-link__text {

}

.instagram-link__text_link {
    margin-top: 0.9rem;
    font-weight: 300;
    text-decoration:none;
    border-bottom: 2px solid black;
}

.brokenline_rotate {
    margin-top: 3.5rem;
}

.question-form {
    text-align: center;
}

.question-form__title {
    font-weight: bold;
    font-size: 2.2rem;
}

.question-form__title, .questions-form__text {
    padding: 0 2.2rem;
}

.questions-form__text {
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2.3rem;
}

.question-form__form-block {
    text-align: left;
    margin: auto;
    max-width: 800px;
    padding: 2.2rem;
}

.questions-form__label {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.questions-form__input, .questions-form__area {
    border: 1px solid black;
    padding: 1.15rem;
    padding-left: 1.4rem;
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
}

.questions-form__area {
    font-family: 'Roboto', "Verdana", sans-serif !important; 
    resize: vertical;
}

.questions-form__element {
    margin-bottom: 1.5rem;
}


.questions-form__button-block {
    text-align: center;
    border: 1px solid black;
}

.questions-form__button {
    cursor: pointer;
    background-color: black;
    padding: 1.1rem 3.4rem;
    color: blanchedalmond;
    font-size: 1rem;
    transition: background-color 0.3s ease-out, color 0.3s ease-in;
}

.questions-form__button:hover {
    background-color: #fff;
    color: black;
}

.questions-form__element-wrapper {
    display: flex;
    justify-content: center;
}

.display-none {
    display: none !important;
}

.dispay-flex {
    display: flex !important;
}

.dispay-block {
    display: block !important;
}

.questionModal-wrapper {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    z-index: 502;
    width: 100%;
    margin: 0 100px;
    top: 0;
    margin: 0 !important;
}

.questionModalBg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30,30,30, .8);
}

.questionModal__header {
    font-size: 25px;
}

.questionModal {
    border-radius: 20px;
    z-index: 501;
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    transform: translate(0, 100px);
    height: 200px;
    display: flex;
    padding: 2rem 0px;
    margin: 0px 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@keyframes transformInQ {
    from {
        transform: translate(0, -300px);
    }
    to {
        transform: translate(0, 100px);
    }
}

@keyframes transformOutQ {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, -300px);
    }
}

.question-block-animation-in {
    animation-name: transformInQ;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.question-block-animation-out {
    animation-name: transformOutQ;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}


@media screen and (max-width: 450px) {
    .questionModal__header {
        font-size: 21px;
    }
    
    .questionModal {
        padding: 3rem 0px;
    }
}


@media screen and (max-width: 380px) {
    .questionModal__header {
        font-size: 18px;
    }
    
    .questionModal {
        padding: 2rem 0px;
        height: 160px;
    }
}