section.pride {
    height: auto;
    & .title {
        margin: 1rem 0 2rem 0;
    }
    & .group {
        width: 90%;
        margin: 0 auto;
        font-size: .9rem;
        color: #919191;
        & .group__item-text {
            width: 80%;
            margin: 0 auto;
        }
    }
    & .line {
        width: 70%;
        height: .05rem;
        background: linear-gradient(to right, #fff, #D8E1D1, #D8E1D1, #D8E1D1, #fff);
        margin: 2rem auto;
    }
}