.basket {
    cursor: pointer;
    position: fixed;
    z-index: 501;
    top: 7rem;
    right: 3rem; 
    width: 6rem;
    height: 6rem;
    text-align: center;
    svg {
        z-index: 3000;
        position: relative;
        margin-top: 1.35rem;
        width: 3rem;
        height: 3rem;
    }
}

.basket__bgcolor {
    position: absolute;
    background-color: #4B852C;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    transition: all 0.3s;
}

.basket svg {
    transition: all 0.3s;
}

.basket__total {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    text-align: center;
    padding: 0.5rem;
    width: 7rem;
    right: 7.55rem;
    top: 1.9rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    color: #fff;
    background-color: #333333;
}

.basket:hover {
    .basket__bgcolor {
        transform: scale(1.08);
    }
    svg {
        transform: scale(1.08);
    }
    .basket__total {
        opacity: 1;
    }
}

.basket__total:before {
    content: ""; 
    left: 6.95rem;
    position: absolute;
	border: solid transparent;
	position: absolute;    
	bottom: 30%;
	border-bottom-color: #333333;
    border-width: 0.5rem;
    transform: rotate(90deg);
	margin-left: 0;
}

.basket__count-block {
    top: 4.05rem;
    left: 4.05rem;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
    font-size: 0.95rem;
    position: absolute;
    background-color: #10381D;
    border-radius: 50%;
}

.modal-basket-wrapper {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 1010;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
}

.modal-basket {
    & img {
        pointer-events: none;
        user-select: none;
    }
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    align-items: center;
    display: none;
    & .modal-basket__container {
        margin: 3rem;
        // height: auto;
        // margin-top: %;
        &>div {
            margin: 2rem 0;
        }
        padding: 2rem;
        background: #fff;
        width: 34rem;
        & .modal-basket__title {
            font-weight: bold;
        }
        & .products-container {
            border-top: 1px solid #CDCDCD;
            border-bottom: 1px solid #CDCDCD;
            & .products__item-media {
                display: none;
            }
            & .products__item {
                padding: 1rem 0;
                display: flex;
                align-items: center;
                font-size: 1rem;
                font-weight: bold;
                & .product-image {
                    width: 70px;
                    & img {
                        border-radius: 10px;
                    }
                }
                & .for-media {
                    .for-media-container {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }
                    display: flex;
                    align-items: center;
                    width: 100%;
                    & .product-title {
                        font-size: .9rem;
                        padding: 1rem;
                        background: #fff;
                        border: none; outline: none;
                        width: 60%;
                        font-weight: bold;
                        text-align: left;
                    }
                    & .product-count {
                        user-select: none;
                        display: flex;
                        width: 40%;
                        justify-content: space-around;
                        align-items: center;
                        & .count {
                            display: inline;
                            font-size: .9rem;
                            margin: 0;
                            width: 20px;
                            text-align: center;
                            font-weight: bold;
                            padding: 0;
                            border: none; outline: none;
                        }
                        & .less,
                        & .more {
                            opacity: .6;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid black;
                            border-radius: 999px;
                            width: 18px;
                            height: 18px;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                    & .product-price {
                        border: none; outline: none;
                        font-weight: bold;
                        font-size: .9rem;
                        width: 60%;
                        text-align: center;
                    }
                }
                & .btn-close {
                    cursor: pointer;
                    // font-size: 14px;
                    // padding-left: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: .6;
                    transition-duration: .1s;
                    &:hover {
                        opacity: 1;
                    }
                    // width: 20px;
                    // height: 20px;
                    // font-weight: lighter;
                    // border: .5px solid black;
                    // border-radius: 999px;
                    // & span {
                    //     opacity: .7;
                    // }
                }
            }
        }
        & .modal-basket__price {
            text-align: right;
            font-size: 1rem;
            font-weight: bolder;
        }
        & .modal-basket__info {
            opacity: .6;
            font-size: 1rem;
        }
        & label {
            opacity: .6;
            font-size: 1rem;
            padding-bottom: 10px;
        }
        & input {
            width: 100%;
            height: 3.5rem;
            padding: 1rem;
            border: 1px solid black;
        }
        & .name-input {
            & input {
                font-size: 1.1rem;
            }
        }
        & .phone-input {
            margin-top: -1.2rem;
            & input {
                font-size: 1.2rem;
            }
        }
        & .modal-basket_btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            height: 3.5rem;
            background: black;
            color: white;
            cursor: pointer;
            transition-duration: .2s;
            border: 2px solid black;
            &:hover {
                color: black;
                background: white;
            }
        }
    }
    display: none;
}

.close {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}