.order-info {
    background: #fff;
    padding: 7rem;
    padding-top: 3rem;
    & .arrow {
        padding-bottom: 6rem;
    }
    & .group {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        & .group__item {
            width: 33.33%;
            height: 15rem;
        }
        & .group__item-image {
            width: 7rem;
            height: 7rem;
            margin: 0 auto;
        }
        & .group__item-text {
            line-height: 1.5rem;
            padding-top: 2rem;
        }
    }
}

img.sale {
    position: absolute;
    width: 85px;
    height: 85px;
    z-index: 6;
    right: 5px;
    top: 5px;
}


@media (max-width: 1050px) {
    img.sale {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 780px) {
    img.sale {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 450px) {    
    img.sale {
        width: 70px;
        height: 70px;
    }
}