.header {
    display: flex;
    font-size: 1.6rem;
}

html {
    scroll-behavior: smooth;
}

$primaryColor: #fff;
.header-container {
    height: 100vh;
    background-repeat: no-repeat;
    padding: 1rem 2rem;
    background-image: url("../img/bg-header.jpg");
    background-color: #070200;
    background-position: center center;
    background-size: cover;
}

.navigation {
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 1.3rem;
    align-items: center;
}

.navigation__link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease;
    cursor: pointer;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.navigation__link:hover {
    background-size: 100% 2px;
}

.navigation {
    .navigation__link {
        margin-right: 25px;
    }
    .navigation__link:last-child {
        margin-right: 0;
    }
}

.header__navigation {
    display: flex;
    width: 100%;
}

.header-logo {
    width: 55%;
    color: #fff;
    font-weight: 900;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: black 1px 0 5px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    max-width: 67px;
    align-items: center;
}

.main-title-block {
    margin-top: 180px;
    margin-left: calc(10%);
    h1 {
        text-shadow: black 1px 0 5px;
    }
}

.main-description {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 10%;
    margin-top: 30px;
}

.maintitle-descrip {
    text-shadow: black 1px 0 5px;
    text-align: justify;
}

a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: #4A4A4A;
    display: inline-block;
    z-index: 1;
}

.main-buttons {
    display: flex;
    margin: auto;
    max-width: 530px;
    padding-top: calc(100vh - 450px);
    justify-content: space-between;
    &>div {
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
    // text-shadow: black 1px 0 5px;
}

// button 1
.btn-1 {
    padding: 1rem 0;
    width: 15rem;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    border: 3px solid $primaryColor;
    transition: all 300ms ease-out;
    &:before {
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        background: $primaryColor;
        top: 0;
        left: 50%;
        z-index: -1;
        transition: all 0ms ease;
    }
    &:hover {
        // text-shadow:none;
        color: black;
        box-shadow: none;
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: $primaryColor;
            top: 0;
            left: 0%;
            z-index: -1;
            transition: all 300ms ease-out;
        }
    }
}

.burger-menu {
    display: none;
}

.burger-menu__button {
    position: fixed;
    top: 0.8rem;
    left: 1.6rem;
    z-index: 30;
    width: 35px;
    height: 40px;
    transition: 0.4s;
}

// .burger-menu__button:hover,
// .burger-menu__lines {
//     filter: brightness(0.9);
// }
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    box-shadow: 0 0 0px 1px #6FAE21;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #81CD27;
    transition: 0.4s;
}

.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
    content: '';
    top: -10px;
}

.burger-menu__lines::after {
    content: '';
    top: 10px;
}

.burger-menu_active .burger-menu__lines {
    background-color: transparent;
    box-shadow: 0 0 0px 0px;
}

.burger-menu_active .burger-menu__lines::after {
    background-color: transperent;
    top: 0;
    transform: rotate(-45deg);
    background-color: #fff;
    box-shadow: 0 0 0px 0px;
}

.burger-menu_active .burger-menu__lines::before {
    background-color: transperent;
    top: 0;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: 0 0 0px 0px;
}

.burger-menu__nav {
    padding-top: 80px;
    a {
        color: #fff;
        font-style: italic;
    }
    position: fixed;
    z-index: 20;
    height: 100%;
    background-color: green;
    overflow-y: auto;
    left: -100%;
    width: 17.5rem;
    font-size: 1.6rem;
    line-height: 2.3rem;
    transition: 0.5s;
}

.burger__telephone {
    position: absolute;
    top: 87%;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: rgb(202, 202, 202);
    a {
        font-style: normal;
        text-decoration: underline;
        color: inherit;
    }
}

.burger-menu_active .burger-menu__nav {
    left: 0;
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
    display: block;
    background-color: rgba(30, 30, 30, 0.3);
}

.burger-menu__link {
    margin-left: 2rem;
    background-position: 0% 100%;
}