.hr-section {
    width: 20rem;
    margin: auto;
    margin-top: 9rem;
}

.footer-wrapper {
    margin: auto;
    text-align: center;
}

.footer__title {
    margin-top: 2.5rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.footer__dimas, .footer__number {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0.5rem;
}

.footer__number {
    margin-top: 2.7rem;
    a {
        font-weight: 300;
    }
}

.footer__links {
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}