* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
    height: 100%;
}

// html {
//     font-size: 10px;
// }
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
    .article__line {
        width: 60%;
        height: 0.06rem;
        margin: 4rem auto 1rem;
        background: linear-gradient(to right, #fff, #000, #fff);
    }
}

.line {
    width: 70%;
    height: .05rem;
    background: linear-gradient(to right, #fff, #D8E1D1, #D8E1D1, #D8E1D1, #fff);
    margin: 2rem auto;
}

.line__smaller {
    width: 40%;
}

.line__black {
    background: linear-gradient(to right, #fff, #AFAFAF, #fff);
}

.article__stars {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.article__navigation {
    display: flex;
    justify-content: center;
    height: 1.2rem;
    font-weight: 300;
    & .article__navigation-list {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        & li {
            margin: 0 .5rem;
            & a {
                transition: color .3s;
            }
            &:hover a {
                color: #4CB27A;
                border-bottom: .05rem solid #4CB27A;
            }
        }
        & li:nth-child(even) {
            font-weight: bold;
            color: #4CB27A;
        }
        & li:nth-child(odd) {
            cursor: pointer;
        }
    }
}

.article__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    & .article__logo-line {
        background-color: #C5F0C8;
        height: .07rem;
        width: 100%;
    }
    & .article__logo-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27rem;
        height: 2.65rem;
        background-color: #B0BFB4;
        text-transform: lowercase;
        font-weight: bolder;
        color: #465750;
        letter-spacing: .1rem;
    }
}

.article__video {
    max-width: 960px;
    max-height: 540px;
    margin: 0 auto;
}

.article__line {
    width: 60%;
    height: .05rem;
    margin: 8rem auto 2rem auto;
    background: linear-gradient(to right, #fff, #000, #fff);
}