section.slider {
    margin-top: 4rem;
    & .arrow {
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 7px;
        margin: 9px;
    }
    & .slider__content {
        position: relative;
    }
    & .slider__item {
        height: 40rem;
        background-position: center center;
        background-repeat: no-repeat;
    }
    & .slider__item img {
        object-fit: cover;
    }
    & .title {
        font-size: 5rem;
        color: #858585;
        margin-top: -4rem;
    }
    & .slick-track {
        display: flex;
    }
    & .slick-list {
        overflow: hidden;
    }
    & .slick-slide {
        height: 40rem;
        width: 100%;
    }
    & .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 500;
        font-size: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 999px;
        width: 40px;
        height: 40px;
        margin: 0 2rem;
        cursor: pointer;
    }
    & .slick-arrow.btn-prev {
        left: 0;
        transform: rotate(135deg);
    }
    & .slick-arrow.btn-next {
        right: 0;
        transform: rotate(-45deg);
    }
    & .slick-dots {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 500;
        bottom: 2rem;
        left: 50%;
        right: 50%;
        & li {
            list-style: none;
            margin: 0 10px;
        }
        & button {
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
            border: 0;
        }
    }
    & .slider__order {
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }
    & .slider__price {
        color: red;
    }
    & .slider__btn {
        color: gray;
        font-size: 1rem;
        display: inline-block;
        border: 1px solid black;
        border-radius: 1.5rem;
        padding: .5rem 1rem;
        cursor: pointer;
        transition-duration: .3s;
        margin-top: 1rem;
        &:hover {
            background: black;
            color: white;
        }
    }
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.lightblue {
    color: lightblue;
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}