html {
    font-size: 10px;
    font-family: 'Oxygen', sans-serif;
}

@media screen and (max-width: 860px) { 
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 700px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 330px) {
    html {
        font-size: 3px;
    }
}