section.text {
    & .container {
        max-width: 50rem;
    }
    & .title__small {
        font-size: 1rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }
    & .title__big {
        font-size: 5rem;
        margin: -3rem 0;
    }
    & .title__medium {
        font-weight: normal;
        font-size: 1.4rem;
    }
}

.text__red {
    color: red;
}

#dynamic-text {
    font-size: 1.3rem;
    margin-top: 3rem;
    & .typed-cursor {
        height: 90%;
        opacity: .7;
        animation: blinker .7s infinite;
    }
}

@keyframes blinker {
    from {
        opacity: .7;
    }
    to {
        opacity: 0;
    }
}