section.catalog {
    & .catalog__title {
        font-weight: normal;
        color: #0F5C19;
        font-size: 2rem;
    }
    & .catalog__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    & .catalog__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 33%;
        text-align: center;
        padding: 1rem;
        & .set-of-photos {
            display: flex;
        }
        & .catalog__item-image {
            width: 100%;
            height: 20rem;
            margin: 0 auto;
            display: inline-block;
            margin: 0;
            padding: 0;
            position: relative;
            & img {
                object-fit: cover;
            }
            & .contain {
                object-fit: contain;
            }
            & .main-image:hover {
                opacity: 0;
            }
            & .main-image {
                opacity: 1px;
                display: block;
                position: absolute;
                z-index: 5;
                transition-duration: .3s;
            }
            & .addition-image {
                border: 2px solid transparent;
                margin: 0;
                padding: 0;
            }
        }
        & .catalog__item-title {
            color: #949494;
            font-size: 1.6rem;
            padding: 1.5rem 0 .5rem 0;
        }
        & .catalog__item-title-discount {
            color: black;
        }
        & .catalog__item-price {
            display: flex;
            justify-content: center;
            padding-bottom: .5rem;
            & span {
                padding: .5rem;
            }
            & .price__old {
                text-decoration: line-through;
                color: #C0C0C0;
            }
        }
        & .price__current, & .price__old {
            font-size: 1.6rem;
        }
        & .price__current-discount {
            font-weight: bold;
            text-decoration: underline;
        }
        & .catalog__item-btn {
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
        }
        &.group {
            width: 100%;
            & .catalog__item-image {
                margin: 10px;
            }
        }
    }
    & .line {
        width: 70%;
        height: .05rem;
        background: linear-gradient(to right, #fff, #D8E1D1, #D8E1D1, #D8E1D1, #fff);
        margin: 2rem auto;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F52C2C;
    border: 2px solid red;
    color: #fff;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    transition-duration: .2s;
    &:hover {
        background: #fff;
        color: red;
    }
}