@media screen and (max-width: 1080px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 767px) {
    .header__navigation {
        display: none;
    }
    .main-buttons {
        max-width: 430px;
    }
    .burger-menu {
        display: block;
    }
    .header-logo {
        justify-content: center;
        width: 100%;
        transform: translateX(25px);
    }
    .header__links {
        margin-left: auto;
    }
    .container {
        width: 100%;
    }
    .article__navigation {
        height: auto;
        text-align: center;
    }
    .article__navigation .article__navigation-list {
        display: block;
    }
    .article__navigation-list li:nth-child(even) {
        opacity: 0;
    }
    section.about-woodhouse .container .group {
        display: block;
        width: 100%;
    }
    section.about-woodhouse .container .group .group-item {
        width: 85%;
        margin: 0 auto;
    }
    .order-info {
        padding: 2rem;
        padding-top: 5rem;
    }
    .order-info .group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .order-info .group .group__item {
        width: 100%;
        height: auto;
    }
    .order-info .group .arrow {
        transform: rotate(90deg);
        padding: 50px;
    }
    section.catalog .catalog__content {
        display: block;
    }
    section.catalog .catalog__content .catalog__item {
        margin: 0 auto;
        width: auto;
    }
    section.catalog .catalog__item .catalog__item-image {
        width: 80%;
    }
    section.pride .group .group__item-text {
        padding: 30px 0;
    }
    //modal product
    .mzakaz__content {
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: calc(30vh - 20rem);
    }
    .mzakaz__product-img {
        margin-right: 0;
        width: 60rem;
        height: 50rem;
    }
    .mzakaz__product-descript {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .header-container {
        background-image: url("../img/bg-header.jpg");
    }
    .z-product__description {
        width: 25rem;
    }
    section.about-project {
        flex-direction: column-reverse;
    }
    section.about-project>div {
        width: 100%;
    }
    .advokads__element {
        width: 40%;
    }
    .advokads__elements {
        justify-content: center;
    }
    .close {
        background-color: rgba($color: #ffffff, $alpha: .5);
        border-radius: 10px;
    }
    .close:before,
    .close:after {
        background-color: black
    }
    .modal-basket .modal-basket__container {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .header-container {
        background-image: url("../img/bg-header.jpg");
    }
    .header__links {
        display: none;
    }
    .header-logo {
        justify-content: flex-end;
        transform: translateX(0px);
        height: 35px;
    }
    section.about-woodhouse {
        padding: 1rem;
        & .container {
            & .title {
                padding: 1rem;
            }
        }
    }
    .section__first-group {
        .group-item {
            width: 100%;
        }
    }
    .btn-1 {
        width: 150px;
    }
    .main-title-block {
        margin-left: 0;
    }
    .main-description {
        margin-left: 0;
    }
    .about-project__text {
        padding: 3rem 2.5rem;
    }
    .about-project__title {
        margin: 1rem 0;
    }
    .advokads__element {
        width: 95%;
    }
    .title__big {
        font-size: 3rem !important;
    }
    //modal product
    .mzakaz__product-img {
        width: 30rem;
        height: 30rem;
    }
    .mzakaz__product-descript {
        margin-top: 2rem;
        margin-left: 0;
        margin-right: auto;
    }
    .modal-basket-wrapper .modal-basket .modal-basket__container .products-container .products__item .for-media {
        text-align: center;
        display: block;
        & .product-title {
            width: 100%;
            text-align: center;
            padding: 0;
        }
        & .for-media-container {
            width: 80%;
            margin: 0 auto;
        }
    }
    // .modal-basket-wrapper .modal-basket .modal-basket__container .products__item {
    // flex-wrap: wrap;
    // display: none;
    // }
    // .modal-basket-wrapper .modal-basket .modal-basket__container .products__item-media {
    // flex-wrap: wrap;
    //     display: flex;
    // }
    // .modal-basket-wrapper .modal-basket .modal-basket__container .products__item .product-title {
    //     width: 70%;
    // }
}

@media screen and (max-width: 374px) {
    .btn-1 {
        width: 130px;
    }
    section.catalog .catalog__item .catalog__item-image {
        width: 80%;
    }
    .about-project__text {
        padding: 2rem 1.5rem;
    }
    .about-project__title {
        margin: 1rem 0;
    }
    .burger-menu__nav {
        width: 13rem;
    }
    //modal product
    .mzakaz__product-img {
        width: 25rem;
        height: 23rem;
    }
    .mzakaz__product-descript {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: auto;
    }
    .z-product__description {
        width: 20rem;
    }
}

@media screen and (max-width: 824px) {
    .navigation {
        .navigation__link {
            margin-right: 20px;
        }
    }
}